.spacer {
    flex: 1 1 auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;            /* Footer height */
    background-color: rgb(141, 144, 145);
    color:white;
    font-size: 12px;
    text-align: center;
  }